* {
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}

.container{
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 450px;
	max-width: 900px;
}

p {
	margin: 0;
}

.row {
	margin: 0;
}

.entregue-master-class {
	border-color: #CFBBE4;
}

.entregue-master-class p {
	color: #AA86D0;
}

.pago-master-class {
	border-color: #68BD83;
}

.pago-master-class p {
	color: #68BD83;
}

.ativo-master-class {
	border-color: #D0CE86;
}

.ativo-master-class p {
	color: #D0CE86;
}

.article {
	color: #222;
	background: rgba(255,255,255,.9);
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.item {
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

.item .source {
	line-height: 48px;
}

#btn-container {
	padding: 0px;
	padding-right: 10px;
	text-align: right;
}

.btn-entregue {
	width: 100%;
	height: 48px;
	font-size: 17px;
	background-color: #AA86D0;
	color: white;
}

.btn-pago {
	width: 100%;
	height: 48px;
	font-size: 17px;
	background-color: #68BD83;
	color: white;
}

.btn-ativo {
	width: 100%;
	height: 48px;
	font-size: 17px;
	background-color: #D0CE86;
	color: white;
}

.container-itens {
	border: 1px #EBEBEB solid;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 0px;
}

.container-itens ul {
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}

.container-itens ul hr {
	margin: 0px;
}

.container-itens ul li {
	font-weight: bold;
	padding: 10px 15px;
}

.container-itens h2 {
	padding: 10px 15px;
	margin: 0px;
	font-size: 22px;
	float: right;
}

.description a {
	color: #DE615E;
	font-weight: bold;
	text-decoration: underline;
	display: inline-block;
	width: 154px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: calc(50% - 150px);
}

span.mls {
	font-size: 14px;
	color: #9ca4ab;
	margin-left: 10px;
}

span.not-bold {
	font-weight: 200;
}

span.preco {
	color: #68BD83;
	font-weight: bold;
	font-family: arial, sans-serif;
}

.fonte2 {
	font-size: 22px;
}

span.texto-dir {
	float: right;
	font-family: arial, sans-serif;
}

.description {
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.description h1 {
	margin-top: 0px;
}

.menos-padd {
	padding-left: 10px;
	padding-right: 10px;
}

.igBigode{
	width: 478px;
	height: 117px;
	position: relative;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 60px;
	background-image: url(../img/bigode.PNG);
	background-repeat: no-repeat;
	background-size: cover;
}